.button {
  display: flex;
  background-color: var(--c-bkg-light);
  border: 4px solid var(--c-border);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease-in;
  outline: none;

  &:hover,
  &:focus {
    transform: translateY(-1.5px) translateX(-1.5px);
    box-shadow: 4px 4px 0 1px var(--c-border);
  }
}

.iconWrapper {
  width: 2.5em;
  height: 2.5em;
  border-right: 4px solid var(--c-border);
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: content-box;
}

.icon {
  font-size: 1.6em;
}

.content {
  padding: 0 1em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
