.container {
  display: flex;
  vertical-align: top;
  & + .container {
    margin-top: var(--space-grid);
  }
}

.containerStacked {
  display: block;
}

.labelContainer {
  width: 25%;
  min-width: 180px;
  margin-right: var(--space-half);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerStacked .labelContainer {
  margin-right: 0;
  width: 100%;
  margin-bottom: var(--space-half);
  flex-direction: column;
}

.description {
  color: #676767;
  margin-top: 0.2em;

  p {
    font-size: 0.8em;
  }
}

.containerStacked .description {
  width: 100%;
}

.label {
  padding-top: 0.35em;
}

.content {
  flex: 1 1 auto;
  width: 300px;
}

.containerStacked .content {
  width: 100%;
}

.input:not([type='checkbox']) {
  width: 100%;
  max-width: 100%;
}

.error {
  color: #dc3232;
  font-size: 0.8em !important;
}

/*
 checkbox
 */
.containerIsCheckBox .label {
  padding-top: 0;
}

.containerIsCheckBox.containerIsStacked.containerIsActive {
  flex-direction: row;

  .labelContainer {
    position: relative;
    transform: translateY(0) scale(1);
    top: auto;
    left: auto;
    pointer-events: auto;
  }

  .label {
    margin-right: 1em;

    &:after {
      content: ':';
    }
  }
}
