.root {
  border: 4px dashed var(--c-yellow-dark);
  padding: var(--space);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: relative;
  background-color: var(--c-yellow-light);
  flex-direction: column;
  gap: 2rem;
}

.button {
  &:after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.buttonIconWrapper {
  background-color: var(--c-yellow);
}

.input {
  display: none;
}

.info {
  font-size: var(--fs-small);
  max-width: 80%;
  border: 4px dashed var(--c-yellow-dark);
  padding: var(--space);
}
