:root {
  --c-white: #faf6f5;
  --c-p: #000;
  --c-p-light: #000;
  --c-p-hover: #000;
  --c-bkg: #f6f6f6;
  --c-bkg-dark: #e4e4e4;
  --c-bkg-light: #fff;
  --c-border: #000;
  --c-border-light: #cfcfcf;

  --c-yellow: #fff59f;
  --c-yellow-light: #faf3ae;
  --c-yellow-dark: #e4d774;
  --c-purple: #a5b4fb;
  --c-green: #b8ff9f;

  --c-feedback-error: #c13333;
  --c-feedback-warning: #bc9b1f;
  --c-feedback-success: #7aaa68;
}
