.root {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 8888;
  transition: opacity 0.2s ease-in;
  will-change: opacity;

  &[data-visible='true'] {
    .box {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }

    .shadow {
      opacity: 0.7;
    }
  }
}

.shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  cursor: pointer;
}

.preventClose .shadow {
  cursor: default;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-height: calc(100vh - (var(--space) * 2));
  width: 900px;
  max-width: calc(100vw - (var(--space) * 2));
  background-color: var(--c-bkg-light);
  transition: opacity 0.2s ease-in;
  will-change: transform;
  overflow: auto;
  border: 6px solid var(--c-border);
  box-shadow: 6px 6px 0 1px var(--c-border);
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  border-bottom: 6px solid var(--c-border);
  padding: var(--space);
}

.close {
  text-indent: -9999px;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 6px solid var(--c-border);
  box-sizing: content-box;
  cursor: pointer;
  background-color: var(--c-green);

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--c-border);
    height: 1.9rem;
    left: 50%;
    top: 50%;
    z-index: 10;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.content {
  padding: var(--space-grid) var(--space);

  & > * + * {
    margin-top: var(--space-half);
  }

  & > * + h2 {
    margin-top: var(--space-grid-big);
  }
  & > * + h3 {
    margin-top: var(--space-grid);
  }
}

/* Size */

.isSmall .box {
  width: 500px;
}

.isMedium .box {
  width: 700px;
}

.isXLarge .box {
  width: 1100px;
}

/* Animation */

.box,
.shadow {
  opacity: 0;
  will-change: opacity;
  transition: all 200ms ease-in-out;
}

.box {
  transform: translateX(-50%) translateY(-30%) scale(0.9);
}
