.root {
  --content-width: 90%;
  --content-max-width: 1400px;
  --content-gap: 4rem;
}

.navigation {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  width: 60%;
  max-width: 800px;
  z-index: 999;
}

.content {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  width: var(--content-width);
  max-width: var(--content-max-width);
  padding: 12rem 0 6rem 0;
  height: 100%;
}

.pdf {
  width: calc(50% - var(--content-gap) / 2);
}

.chat {
  position: fixed;
  left: calc(50% + var(--content-gap) / 2);
  top: calc(50% + 3rem);
  transform: translateY(-50%);
  width: calc(var(--content-width) / 2 - var(--content-gap) / 2);
  max-width: calc(var(--content-max-width) / 2 - var(--content-gap) / 2);
}
