.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-bkg-light);
  border: 4px solid var(--c-border);
  box-shadow: 4px 5px 0 1px var(--c-border);
  min-height: 450px;
  padding: 1rem;

  &.loaded {
    align-items: flex-start;
  }
}

.downloadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.addDocument {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fs-big);
}

.promptWrapper,
.promptForm {
  width: 100%;
}

.response {
  margin-top: var(--space-grid);
}

.responseText {
  font-weight: bold;

  & > * + * {
    margin-top: 0.5rem;
  }
}

.source {
  margin-top: var(--space-grid);
}

.sourceTitle {
}

.sourceList {
  margin-top: 1rem;
  list-style: disc !important;
  padding-left: 1rem !important;
}

.sourceEntry {
  font-size: var(--fs-small);
}

.sourceLink {
  text-decoration: none;
}

.sourceText {
  display: inline-block;
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transform: translateY(25%);
}
